<!DOCTYPE html>
<html lang="pl_PL">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}AKAI Generator zaświadczeń{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/akaiLogo.png') }}">
    <!-- Fonts -->
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>
{% block body %}

    <nav class="hero has-background-grey-darker">
        <div class="hero-body">
            <div class="container">

                <header class="title has-text-centered has-text-white">
                        Generator zaświadczeń o członkostwie
                </header>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container is-max-desktop">
            <div class="box">
                {{ include('form.html.twig') }}
            </div>
        </div>
    </section>

    <footer class="footer has-background-grey-darker is-justify-content-center">
        <div class="columns is-mobile is-multiline">
            <div class="column is-one-third-mobile has-text-centered">
                <a href="https://www.put.poznan.pl/" target="_blank">
                    <figure class="image is-64x64 is-inline-block">
                        <img src="{{ asset('img/PP_znak_pełny_RGB.png') }}" alt="Poznan University of Technology logo">
                    </figure>
                </a>
            </div>
            <div class="column is-one-third-mobile has-text-centered">
                <a href="https://github.com/akai-org/AKAI-generator-wnioskow-symfony" target="_blank">
                    <figure class="image is-64x64 is-inline-block">
                        <img src="{{ asset('img/githubLogo.png') }}" alt="GitHub logo">
                    </figure>
                </a>
            </div>
            <div class="column is-one-third-mobile has-text-centered">
                <a href="https://akai.org.pl/" target="_blank">
                    <figure class="image is-64x64 is-inline-block">
                        <img src="{{ asset('img/akaiLogo.png') }}" alt="AKAI logo">
                    </figure>
                </a>
            </div>
            <div class="column">
                <div class="has-text-white has-text-centered">
                    Wykonane przez AKAI 2020-2022 &copy
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
</body>

{% block javascripts %}
    <script src="{{ asset('js/index.js') }}" type="module"></script>
{% endblock %}

</html>