<!DOCTYPE html>
<html lang="pl_PL">

<head>
    <meta charset="utf-8">

    <title>{% block title %}AKAI Generator zaświadczeń{% endblock %}</title>
    <!-- Fonts -->
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>
{% block body %}
    <nav class="navbar">
        <header class="navbar-brand">Generator zaświadczeń o członkostwie</header>
    </nav>
    {{ include('form.html.twig') }}

    <footer>

        <div class="footerNapis">
            Wykonane przez AKAI 2020 &copy
        </div>

        <div class="logos" style="margin-left: auto">

            <div class="logo" style="padding-right: 45px;">
                <a href="https://www.put.poznan.pl/" target="_blank" style="color:#C0F0C0;"><img style="height: 60px;"
                                                                                                 src="{{ asset('img/ppLogo.png') }}"></a>

            </div>

            <div class="logo">
                <a href="https://github.com/akai-org/AKAI-generator-wnioskow" target="_blank"
                   style="color:#C0F0C0;"><img style="width: 60px; height: 60px;"
                                               src="{{ asset('img/githubLogo.png') }}"></a>

            </div>

            <div class="logo">
                <a href="https://akai.org.pl/" target="_blank" style="color:#C0F0C0;"><img
                            style="width: 60px; height: 60px;" src="{{ asset('img/akaiLogo.png') }}"></a>

            </div>


        </div>

    </footer>


{% endblock %}
</body>

{% block javascripts %}
    <script src="{{ asset('js/index.js') }}" type="module"></script>
{% endblock %}

</html>