<div>
    {{ form_start(form) }}
    <h2 class="subtitle has-text-centered">Dane koła</h2>
    <div class="field">
        <label class="label">Przewodniczący:</label>
        <div class="control">
            {{ form_widget(form.leader, {'attr': {'class': 'input'}}) }}
        </div>
    </div>
    <div class="field">
        <label class="label">Nazwa koła (w dopełniaczu):</label>
        <div class="control">
            {{ form_widget(form.clubname, {
                'attr': {
                    'class': 'input',
                    'placeholder': 'np.: Akademickiego koła aplikacji internetowych'
                }
            }) }}
        </div>
    </div>
    <div class="field">
        <label class="label">Nazwa wydziału:</label>
        <div class="control">
            {{ form_widget(form.department, {
                'attr': {
                    'class': 'input',
                    'placeholder': 'np. Wydział Informatyki i Telekomunikacji'
                }
            }) }}
        </div>
    </div>
    <div class="field">
        <label class="label">Opiekun koła:</label>
        <div class="control">
            {{ form_widget(form.patron, {'attr': {'class': 'input'}}) }}
        </div>
    </div>
    <div class="share_link">
        <a href="#" id="link"
           title="Skopiuj link z polami przewodniczący, nazwa koła, nazwa wydziału i opiekun koła uzupełnionymi w ten sam sposób.">Skopiuj
            link do formularza z uzupełnionymim danymi koła</a>
    </div>

    <h2 class="subtitle has-text-centered">Dane indywidualne</h2>
    <div class="field">
        <label class="label">Imię i nazwisko:</label>
        <div class="control">
            {{ form_widget(form.name_surname, {'attr': {'class': 'input'}}) }}
        </div>
    </div>
    <div class="field">
        <label class="label">Indeks:</label>
        <div class="control">
            {{ form_widget(form.album_number, {'attr': {'class': 'input'}}) }}
        </div>
    </div>
    <div class="field">
        <label class="label">Funkcja:</label>
        <div class="control">
            {{ form_widget(form.function, {'attr': {'class': 'input'}}) }}
        </div>
    </div>

    <div class="field">
        <label class="label">Semestr członkostwa:</label>
        <div class="control">
            {{ form_widget(form.semester, {
                'attr': {
                    'class': 'input',
                    'placeholder': 'np. letni 2020'
                }
            }) }}
        </div>
    </div>

    <div class="block">
        <label class="label">Działania w trakcie podanych semestrów: </label>
        <ul id="achievements-list">
        </ul>
        <div class="has-text-right">
            <button id="add-achievement-button" class="button" type="button">Dodaj osiągnięcie</button>
        </div>
    </div>

    <div class="field">
        <div class="control`">
            <button class="button is-fullwidth">
                Wygeneruj
            </button>
        </div>
    </div>
    {# {{ include('loading.html.twig') }} #}
    {{ form_end(form, {render_rest: false}) }}
</div>